@page "/expediente/{Id:int?}"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Web
@using SGE.Aplicacion.Servicios
@inject NavigationManager Navegador;
@inject CasoDeUsoExpedienteAlta CasoDeUsoExpedienteAlta
@inject CasoDeUsoExpedienteConsultaPorId CasoDeUsoExpedienteConsultaPorId
@inject CasoDeUsoExpedienteModificacion CasoDeUsoExpedienteModificacion
@inject CasoDeUsoObtenerUsuario CasoDeUsoObtenerUsuario

<PageTitle>Expedientes</PageTitle>

<DialogoConfirmacion @ref="dialogo" />

@if (_esNuevoExpediente)
{
    <h3>Agregando un nuevo expediente</h3>
}
else
{
    <h3>Modificando expediente "@_expediente.Id"</h3>
}

<form>
    <p>ID del Usuario</p><input placeholder="ID del Usuario" @bind="_expediente.IdUsuarioUltimaModificacion"
        class="form-control" required>
    <p>Caratula</p><input placeholder="Caratula" @bind="_expediente.Caratula" class="form-control" required>
</form>

<button class="btn btn-primary" @onclick="Agregar">Agregar</button>

<DialogoConfirmacion @ref="dialogo" />

@code {
    Expediente _expediente = new Expediente();
    DialogoConfirmacion dialogo = null!;
    [Parameter] public int? IdExp { get; set; }
    bool _esNuevoExpediente = true;
    protected override void OnParametersSet()
    {
        if (IdExp != null)
        {
            var aEditar = CasoDeUsoExpedienteConsultaPorId.Ejecutar(IdExp.Value);
            if (aEditar != null)
            {
                _expediente = aEditar;
                _esNuevoExpediente = false;
            }
            else
            {
                Navegador.NavigateTo("/polizas");
            }
        }
    }
    void Agregar()
    {
        if (_expediente.Caratula == "" || _expediente.Id == 0)
        {
            ConfirmarEliminacion();
        }
        else
        {
            if (_esNuevoExpediente)
            {
                CasoDeUsoExpedienteAlta.Ejecutar(_expediente, _expediente.IdUsuarioUltimaModificacion);
            }
            else
            {
                CasoDeUsoExpedienteModificacion.Ejecutar(_expediente, _expediente.IdUsuarioUltimaModificacion);
            }
            Navegador.NavigateTo("expedientes");
        }

    }
    private void ConfirmarEliminacion()
    {
        dialogo.Mensaje = "Error: Hay campo/s sin completar";
        dialogo.Mostrar();
    }
}