@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace SGE.UI.Pages

<h1>Bienvenido</h1>

<div class="container">
    <p>Ingrese opción deseada:</p>
    <button @onclick="NavigateToRegistro" class="btn btn-primary">Iniciar sesión</button>
    <button @onclick="NavigateToRegistro" class="btn btn-primary">Registrarse</button>
</div>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    private void NavigateToRegistro()
    {
        NavigationManager.NavigateTo("/Usuario"); // Redirige a la página de registro de usuarios
    }
}