@page "/listadoUsuarios"
@model MyApp.Namespace.ListadoUsuariosModel
@rendermode InteractiveServer
@inject CasoDeUsoListarUsuarios CasoDeUsoListarUsuarios
@inject CasoDeUsoEliminarUsuario CasoDeUsoEliminarUsuario
@inject NavigationManager Navegador

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Usuarios</title>
</head>

<body>

    <DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar" />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in _usuarios)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.CorreoElectronico</td>
                    <td>usuarios
                        <button class="btn btn-primary" @onclick="() => ModificarUsuario(usuario)">
                            <span class="oi oi-pencil"></span>
                        </button>
                        <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(usuario)">
                            <span class="oi oi-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
@code{
List<Usuario> _usuarios = new();
    protected override void OnInitialized()
    {
        _usuarios = CasoDeUsoListarUsuarios.Ejecutar();
    }
    DialogoConfirmacion dialogo = null!;
    Usuario? _UsuarioParaEliminar = null;
    void ModificarUsuario(Usuario usu)
    {
        Navegador.NavigateTo($"usuario/{usu.Id}");
    }
    private void ConfirmarEliminacion(Usuario usu)
    {
        _UsuarioParaEliminar = usu;
        @* dialogo.Mensaje = $"¿Desea eliminar al Titular con id {usu.Id}?"; *@
        dialogo.Mostrar($"¿Desea eliminar al Titular con id {usu.Id}?");
    }
    private void Eliminar()
    {
        if (_UsuarioParaEliminar != null)
        {
            CasoDeUsoEliminarUsuario.Ejecutar(_UsuarioParaEliminar);
            _usuarios = CasoDeUsoListarUsuarios.Ejecutar(); //se actualiza la lista de clientes
        }
    }
}