@page "/Menu_Usuario"
@using SGE.Aplicacion.CasosDeUso
@using SGE.Aplicacion.Entidades
@inject NavigationManager NavigationManager
@inject CasoDeUsoModificarUsuario CasoModificarUsuario
@inject CasoDeUsoExpedienteConsultaPorId CasoConsultaExpedientePorId
@inject CasoDeUsoExpedienteConsultaTodos CasoConsultaTodosExpedientes
@inject CasoDeUsoTramiteConsultaPorEtiqueta CasoConsultaTramitePorEtiqueta
@inject CasoDeUsoObtenerUsuario CasoObtenerUsuario

<h3>Menú de Usuario Común</h3>

@if (UsuarioActual != null)
{
    <div class="container">
        <!-- Botón para configuración de cuenta -->
        <button class="btn btn-primary" @onclick="ModificarCuenta">Configuración de Cuenta</button>

        <!-- Formulario para ingresar ID de expediente -->
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputIdExpediente" class="sr-only">ID Expediente</label>
                <input type="text" class="form-control" id="inputIdExpediente" placeholder="ID Expediente" @bind="_idExpediente">
            </div>
            <button type="submit" class="btn btn-primary mb-2" @onclick:preventDefault @onclick="ConsultarExpedientePorId">Consultar Expediente por ID</button>
        </form>

        <!-- Botón para consultar todos los expedientes -->
        <button class="btn btn-primary" @onclick="ConsultarTodosExpedientes">Consultar Todos los Expedientes</button>

        <!-- Botón para consultar trámite por etiqueta -->
        <button class="btn btn-primary" @onclick="ConsultarTramitePorEtiqueta">Consultar Trámite por Etiqueta</button>
        
        <button @onclick="VolverInicio" class="btn btn-primary">Home</button>
    </div>
}
else
{
    <p>No se pudo obtener la información del usuario actual.</p>
}

@code {
    private Usuario UsuarioActual;
    private int _idExpediente;

    public UsuarioComun(Usuario usuarioActual)
    {
        UsuarioActual = usuarioActual;
    }

    private void ModificarCuenta()
    {
        CasoModificarUsuario.Ejecutar(UsuarioActual);
    }

    private void ConsultarExpedientePorId()
    {
        var expediente = CasoConsultaExpedientePorId.Ejecutar(_idExpediente);
        // Implementar lógica para mostrar el expediente en la interfaz
    }

    private void ConsultarTodosExpedientes()
    {
        var todosExpedientes = CasoConsultaTodosExpedientes.Ejecutar();
        // Implementar lógica para mostrar todos los expedientes en la interfaz
    }

    private void ConsultarTramitePorEtiqueta()
    {
        var etiqueta = EtiquetaTramite.Importante; // Ejemplo de etiqueta de trámite
        var tramites = CasoConsultaTramitePorEtiqueta.Ejecutar(etiqueta);
        // Implementar lógica para mostrar los trámites en la interfaz
    }

    void VolverInicio()
    {
        NavigationManager.NavigateTo("/"); // Vuelve al Home
    }
}